codeql-all-dbs
codeql-all-dbs-gh
patch_info
projects
projects-gh
commit_data
old
outputs*
output/

**/__pycache__
**/target
**/deps
**/build
.vscode/settings.json
codeql/
data/build-info
build-info/
data/codeql-dbs/
project-sources